title = "Aktuelt"
url = "/aktuelt"
layout = "default"
is_hidden = 0
activeMenuItem = "aktuelt"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "aktuelt"
postPage = "artikkel"

[eventList additionalEventList]
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>    
</section>

<section class="bg-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-9 text-left" >
                {% component 'blogPosts' %}
            </div>
            <div class="col-sm-12 col-lg-3">
                <div class="event-sidebar">
                    <h3>Dette skjer...</h3>
                    {% component 'additionalEventList' %}
                </div>
            </div>
        </div>
    </div>
</section>