title = "Arrangement"
url = "/hvaskjer/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
activeMenu = "hvaskjer"

[eventDetails]

[eventList additionalEventList]
==
<?php
function onEnd(){
  $this->page->title = $this->event->title;
}
?>
==
<!-- === opengraph === -->


<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>    
</section>

<section class="bg-tertiary">
	<div class="container">
		<div class="row">
            <div class="col-sm-12 col-lg-8 eventDetail">
                {% component 'eventDetails' %}
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="event-sidebar">
                    <h3>Dette skjer...</h3>
                    {% component 'additionalEventList' %}
                </div>
            </div>
        </div>
	</div>
</section>