title = "Innlegg"
url = "/aktuelt/artikkel/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
activeMenu = "aktuelt"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "aktuelt_kategori"

[SeoBlogPost]
post = "post"

[blogPosts additionalPostList]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "aktuelt"
postPage = "artikkel"
exceptPost = "{{ :slug }}"
==
{% component 'SeoBlogPost' %}
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.mainTitle }}</h1>
        </div>
    </div>    
</section>

<section class="bg-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-9 text-left" >
                {% component 'blogPost' %}
            </div>
            <div class="col-md-12 col-lg-3">
                <div class="blog-sidebar">
                    <h3>Mer fra aktuelt</h3>
                    {% component 'additionalPostList' %}
                </div>
            </div>
        </div>
        </div>
    </div>
</section>