title = "Ayurveda"
url = "/ayurveda"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h2>MARMABEHANDLING</h2>
                    
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <p class="lead mt-4">
                            Marmabehandling er en enkel og lett berøring på kroppens energipunkter. Dette kan igjen stimulere kroppen til å frigjøre stress og giftstoffer. Marma er urgammel og holistisk behandlingsform.
                        </p>
                        <p class=" mt-4 mb-5">
                            Pris 1 time kr. 600,-
                        </p>
                        <p>Ta kontakt for timebestilling på telefon eller SMS: 90 12 67 90.</p>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <img src="{{'assets/images/ayurveda.jpg'|theme}}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>