title = "Dans"
url = "/dans"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h2>DANS</h2>
                    
                <div class="col-xs-12">
                    <img src="{{'assets/images/dans.jpg'|theme}}" class="img-fluid">
                </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <p class="lead mt-4 mb-5">
                            <strong>TIDSPUNKT</strong><br>
                            Onsdager kl. 17.00
                        </p>
                    </div>
                    <div class="col-sm-9">
                        <p class="lead mt-4">
                            Drop-in frigjørende dans 60 minutter, onsdager kl. 17.00
                        </p>
                        <hr>
                        <p class=" mt-4 mb-5">
                            Klippekort 10x60 minutter kr. 1.800,-<br>
                            Drop in uten klippekort kr. 220,- <br><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        



    </div>
</section>