title = "Hjem"
url = "/"
layout = "default"
is_hidden = 0
activeMenu = "home"

[cookieConsent]
message = "Denne nettsiden bruker informasjonskapsler (cookies). Du kan fortsette å bruke siden som vanlig hvis du godtar dette. Les mer om bruk av informasjonskapsler i vår personvernerklæring."
dismiss = "Jeg godtar"
learnMore = "Mer informasjon"
link = "/personvern"
theme = "light-bottom"

[contactForm]
injectBootstrapAssets = 0
injectMainScript = 1
==
<section class="cover-1 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h2 class="jumbotron-heading brand-font" style="font-weight: 300;">Yoga, Massasje &amp; Samtaleterapi</h2>
            <p class="lead"></p>
        </div>
    </div>
</section>



<section class="contact-1">
    <div class="container">
        <div class="row contact-details">
            <div class="col-sm-8 text-center text-md-left mb-4">
                <h3>Send oss en melding</h3>
                {% component 'contactForm' %}
            </div>
            <div class="col-sm-4 text-center text-md-left">
                <h3>Kontakt oss</h3>
                <h4 class="pt-4">E-post</h4>
                <p>post@livskildenmassasje.no</p>
                <h4 class="pt-2">Timebestilling</h4>
                <p>tlf. +47 90 12 67 90</p>
                <h4 class="pt-2">Besøksadresse</h4>
                <p>
                    Stabells gate 6<br>
                    3510 Hønefoss<br>
                    Norge
                </p>
                <ul class="social">
                    <li><a href="https://www.fb.com/livskildenmassasje" title="Facebook" class="fa fa-facebook"></a></li>
                    <!-- <li><a href="https://www.instagram.com/" title="Instagram" class="fa fa-instagram"></a></li> -->
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</section>

{% component 'cookieConsent' %}