title = "Hva skjer?"
url = "/hvaskjer"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
activeMenu = "hvaskjer"

[eventList]

[blogPosts blogPostsList]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "hvaskjer"
postPage = "artikkel"
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
     <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>    
</section>

<section class="bg-tertiary">
    <div class="container">
        
		<div class="row">
			<div class="col-sm-12 col-md-8">
				{% component 'eventList' %}
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="event-sidebar">
					{% content 'yoga-dropin' %}
				</div>
				<div class="event-sidebar">
					<h3>Siste aktuelt</h3>
					{% component 'blogPostsList' %}
				</div>
			</div>
		</div>
        
    </div>
</section>