title = "Massasje"
url = "/massasje"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h2>MASSASJE</h2>
                    
                <div class="col-xs-12">
                    <img src="{{'assets/images/massasje.jpg'|theme}}" class="img-fluid">
                </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <p class="lead mt-4 mb-5">
                            <strong>PRISER</strong><br>
                            75 min. kr. 750,-<br>
                            90 min. kr. 875,-
                        </p>
                    </div>
                    <div class="col-sm-9">
                        <p class="lead mt-4">
                            En rolig og omsorgsfull massasje, som støtter mottakeren i å gi slipp på fysiske og psykiske spenninger og stress. Massasjen kan hjelpe deg til avspenning, velvære og en dyp opplevelse av indre stillhet. 
                        </p>
                        <p>Ta kontakt for timebestilling på telefon eller SMS: 90 12 67 90.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        



    </div>
</section>