title = "Om oss"
url = "/omoss"
layout = "default"
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                
            </div>
        </div>
        </div>
    </div>
</section>
