title = "Personvernerklæring"
url = "/personvern"
layout = "default"
==
<section class="cover-4 text-center">
    {% partial 'site/navigation' %}
</section>

<section class="content-4">
    <div class="container">
        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h1>Personvernerklæring</h1>
                <p class="lead mt-4 mb-5">
                    Personvernerklæringen omhandler hvordan vi samler inn og bruker informasjon om våre besøkende på vår nettside. Her finner du informasjon du har krav på når det samles inn opplysninger fra nettstedet du besøker. Du finner også generell informasjon om hvordan vi behandler personopplysninger.
                </p>
                <p>Daglig leder i Livskilden Massasje og Samtaleterapi er behandlingsansvarlig for virksomhetens behandling av personopplysinger. Det er frivillig for besøkende til nettstedet å oppgi personopplysninger i forbindelse med et besøk på nettsiden. Behandlingsgrunnlaget er samtykke fra den enkelte, med mindre annet er spesifisert.
                </p>
                <hr>
                <h2>Analyseverktøy og informasjonskapsler</h2>
                <p>
                    Virksomheten benytter Google Analytics som en del av arbeidet for å lage et brukervennlig nettsted. Disse tjenestene hjelper oss å analysere informasjon om bruk av nettstedet.
                    <br><br>
                    Google Analytics bruker informasjonskapsler (tekstfiler lagret på brukerens datamaskin) som registrerer brukerens IP-adresse, og som gir informasjon om denne brukerens bevegelser på nett. Informasjonen som hentes ut fra dette kan benyttes til å gi svar på hvor mange som besøker ulike sider, hvor lenge besøket varer, hvilke nettsteder brukeren kommer fra og hvilke nettlesere som benyttes.
                    <br><br>
                    Ingen av informasjonskapselene gjør at vi kan koble informasjon om din bruk av nettstedet til deg som enkeltperson.
                </p>
                <p>
                    Informasjon som samles inn av Google Analytics, lagres på Googles servere i USA. Mottatte opplysninger er underlagt <a href="http://www.google.com/intl/no/policies/privacy/">Googles retningslinjer for personvern</a>.
                    <br><br>
                    En IP-adresse er definert som en personopplysning fordi den kan spores tilbake til en bestemt maskinvare og dermed til en enkeltperson. Same Time Tomorrow AS bruker Google Analytics sin sporingskode som anonymiserer IP-adressen før informasjonen lagres og bearbeides av Google. Dermed kan ikke den lagrede IP-adressen brukes til å identifisere den enkelte bruker.
                </p>
                <hr>
                <h3>Nyhetsbrev</h3>
                <p>
                    Der det er mulig å abonnere på nyhetsbrev fra virksomheten, lagrer vi navn og e-post adresse for å kunne sende e-posten til riktig person. Disse opplysningene deles ikke med andre virksomheter, og slettes når vi får beskjed om at du ikke lenger ønsker å motta informasjon fra oss. Opplysningene slettes også om vi får tilbakemelding om at e-postadressen ikke lenger er aktiv.
                </p>
                <hr>
                <h3>Kontaktskjema</h3>
                <p>
                    Den som sender oss en melding via kontaktskjema på nettsiden blir avkrevet navn og e-post adresse. Dette er for at vi skal kunne identifisere hvem meldingen kommer fra, og ha informasjon nok til at vi kan svare den enkelte. Disse opplysningene deles ikke med andre virksomheter, og slettes på forespørsel fra brukeren.
                </p>
                <hr>
                <h3>Hvordan håndtere informasjonskapsler i din nettleser</h3>
                <p>
                    På <a href="https://www.nettvett.no">www.nettvett.no</a> finner du informasjon om hvordan du kan 
                    <a href="https://nettvett.no/slik-administrer-du-informasjonskapsler/">stille inn nettleresen for godta eller avvise informasjonskapsler</a>, og få <a href="https://nettvett.no/veiledninger/sikrere-bruk/internett/">tips til sikrere bruk av internett</a>.
            </div>
        </div>
        </div>
    </div>
</section>
