title = "Prisliste"
url = "/prisliste"
layout = "default"
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}    
</section>

<section class="content-4">
    <div class="container">
        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h1>Prisliste</h1>
                <p>
                    <h3>Drop-in Yoga</h3>
                    Klippekort kr. 1800,- for 10x90 minutter.<br>
                    Drop-in kr. 220,- pr. gang 



                </p>
                <h1>Betaling</h1>
                <p>
                    Alle gruppertimer og kurs betales på forhånd eller med Vipps ved ankomst.
                    <br><br>
                    Klippekort betales på forhånd til kontonr: 2230 27 51912, eventuelt vippses til 504200. Klippekort utleveres på første time, etter at betaling er registrert.
                </p>
                
            </div>
        </div>
        </div>
    </div>
</section>
