title = "Yoga"
url = "/yoga"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<section class="cover-3 text-center">
    {% partial 'site/navigation' %}
    <div class="cover-container pb-5">
        <div class="cover-inner container">
            <h1 class="jumbotron-heading">{{ this.page.title }}</h1>
        </div>
    </div>
</section>

<section class="content-4">
    <div class="container">
        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h2>DROP IN YOGA</h2>
                    
                <div class="col-xs-12">
                    <img src="{{'assets/images/bildecoll-yoga-3-sidestilt.jpg'|theme}}" class="img-fluid">
                </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <p class="lead mt-4 mb-5">
                            <strong>TIDSPUNKT</strong><br>
                            Mandager kl. 19.00<br>
                            Tirsdager kl. 16.30<br>
                            Onsdager kl. 18.30
                        </p>
                    </div>
                    <div class="col-sm-9">
                        <p class="lead mt-4">
                            Passer for deg som har deltatt på kurs eller har kjennskap til yoga fra før. <br>
                            90 minutter med  pust, øvelser og deilig avspenning! 
                        </p>
                        <hr>
                        <p class=" mt-4 mb-5">
                            Klippekort 10x90 minutter kr. 1.800,-<br>
                            Drop in uten klippekort kr. 220,- <br><br>
                            {% if date(now) < date('2018-06-20') %}
                            <strong>Kjøp klippekort før 20. juni og betal kr. 1.550,-</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h2>YOGAKURS 12 TIMER</h2>
                    
                <div class="col-xs-12">
                    <img src="{{'assets/images/yogakurs-12.jpg'|theme}}" class="img-fluid">
                </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <p class="lead mt-4 mb-5">
                            <strong>TIDSPUNKT</strong><br>
                            Oppstart 21. august 2018<br>
                            Oppstart 09. oktober 2018
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <p class="mt-4 lead">
                            Kurset egner seg for nybegynnere, men også for de som har praktisert tidligere. Det blir grundig gjennomgang av pust, kunnskap, avspenning og en kombinasjon av milde og sterke øvelser for kropp og sinn.
                        </p>
                        <p>
Kursets varighet er 2 timer (120 min) á seks tirsdager.
<br>
Oppstart 21. august og avsluttes 25. september 2018.
<br>
Oppstart 09. oktober og avsluttes 13. november 2018.
<br>
Instruktør: Eva Maria

                        </p>
                        <p class="mt-4">
                            En grundig innføring i pust og øvelser for kropp og sinn. Kurset egner seg for nybegynnere, såvel for de som ønsker å komme i gang med yogapraksisen sin igjen. 
                        </p>
                        <hr>
                        <p class="mt-4 mb-5">
                            6 uker x 2 timer kr. 1.700,-
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row justify-center mt-5">
            <div class="col-md-12 text-left" >
                <h2>HELGEKURS I YOGA OG PUST</h2>
                    
                <div class="col-xs-12">
                    <img src="{{'assets/images/yogakurs-helg.jpg'|theme}}" class="img-fluid">
                </div>
                
                <div class="row">
                    <div class="col-sm-3">
                        <p class="lead mt-4 mb-5">
                            <strong>TIDSPUNKT</strong><br>
                            18. og 19. august 2018<br>
                            01. og 02. september 2018
                        </p>
                    </div>
                    <div class="col-sm-8">
                        <p class="mt-4 lead">
                            Et kurs som tar for seg forskjellige pusteteknikker samt rolige, terapeutiske øvelser med fokus på hofter, rygg, nakke og skuldre. Øvelser som stresser ned og gir indre ro. Kurset holdes samlet over én helg, lørdag og søndag kl. 10 - 12.

                        </p>
                        <hr>
                        <p class=" mt-4 mb-5">
                            4 timer kr. 700,-
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>