{% set posts = __SELF__.posts %}

<ul class="blogPostList">
    {% for post in posts %}
        <li>
            <a href="{{ post.url}}">
                        
            {% if post.custom_fields.featured_image %}
                <img
                    src="{{ post.custom_fields.featured_image|media }}"
                    alt="{{ post.featured_images.first.description }}" 
                    class="img-fluid" />                
            {% endif %}
            </a>
        	<div class="title">
        		<a href="{{ post.url}}">
        			<h3>{{ post.title }}</h3>
        		</a>
        		<p class="postDate">{{ post.published_at|date('d.m.Y') }}</p>
        		<hr>
        	</div>            
        </li>
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>