<footer class="footer-4">
    <div class="container">
        <div class="row mb-5 text-center text-md-left">
            <div class="col-md-3 col-lg-6 mb-3">
                <a class="logo" href="#">
                    <img src="{{ '/assets/images/livskilden-logo-inv-3.svg'|theme}}" class="img-fluid" style="">
                </a>
                
            </div>
            
            <div class="col-md-9 col-lg-6 pt-2 text-right last-footer-col ">
                <h5>Kontakt oss</h5>
                <p style="color: white;">Telefon/SMS: 90 12 67 90<br>
                E-post: livskilden.info@gmail.com</p>
                <ul class="social">
                    <li><a href="https://www.fb.com/livskildenmassasje" title="Facebook" class="fa fa-facebook"></a></li>
                    <!-- <li><a href="https://www.instagram.com/" title="Instagram" class="fa fa-instagram"></a></li> -->
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="divider"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 text-center text-md-left mt-2 mb-3 pt-1">
                <p class="copyright">Copyright &copy; {{ "now"|date("Y") }} Livskilden massasje og samtaleterapi. Les vår <a href="/personvern">personvernerklæring</a>.<br>
                Nettsider produsert av <a href="http://egerstudio.com">Eger Studio</a>.
                </p>
            </div>
            
        </div>
    </div>
</footer>