
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ '/assets/images/livskilden-logo-inv-3.svg'|theme }}" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">           

            <ul class="navbar-nav mt-2 mt-md-0">
                {% for item in staticMenu.menuItems %}
                    <li class="nav-item" {{ item.isActive or item.isChildActive ? 'active' : '' }}  {{ item.items ? 'dropdown' : '' }}>
                        <a class="{% if item.viewBag.cssClass %} {{item.viewBag.cssClass}} {% else %} nav-link {% endif %} {% if item.items %}dropdown-toggle{% endif %}" {% if item.items %}data-toggle="dropdown"{% endif %}
                            href="{{ item.url }}">
                            {{ item.title }}
                            {% if item.items %}<span class="caret"></span>{% endif %}
                        </a>
                        {% if item.items %}
                            {% partial 'menu-items' items=item.items class='dropdown-menu' %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ '/assets/images/livskilden-logo-inv-3.svg'|theme }}" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link {% if this.page.activeMenu == '' %}active{% endif %}" href="/">Hjem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if this.page.activeMenu == 'yoga' %}active{% endif %}" href="/yoga">Yoga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if this.page.activeMenu == 'massasje' %}active{% endif %}" href="/massasje">Massasje</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if this.page.activeMenu == 'ayurveda' %}active{% endif %}" href="/ayurveda">Ayurveda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if this.page.activeMenu == 'dans' %}active{% endif %}" href="/dans">Dans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if this.page.activeMenu == 'stressmestring' %}active{% endif %}" href="/stressmestring">Stressmestring</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-white btn-outline {% if this.page.activeMenu == 'hvaskjer' %}active{% endif %}" href="/hvaskjer">Hva skjer?</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-white btn-outline {% if this.page.activeMenu == 'aktuelt' %}active{% endif %}" href="/aktuelt">Aktuelt</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-white btn-outline {% if viewBag.activeMenu == 'tilbud' %}active{% endif %}" href="/tilbud">Tilbud</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
 -->