[viewBag]
title = "Tilbud"
url = "/tilbud"
layout = "static-default"
is_hidden = 0
navigation_hidden = 0
==
function onInit()
{
    $this['activeMenuItem'] = 'tilbud';
}
==
<h1>Tilbud</h1>

<p>asøklfjøalksdfjlø</p>

<p>
	<br>
</p>

<h1>Gavekort</h1>

<p>
	<br>
</p>

<p>Kampanjer</p>

<p>aølsdkfjøalskdjfølasdf</p>