<div class="row">
    <div class="col-sm-12 postDetail">

        {% set post = __SELF__.post %}
        {% if post.featured_images.count %}
            {% put meta %}
                <meta property="og:image" content="{{ post.featured_images.first.thumb(960,550,'crop') }}">
            {% endput %}
            <div class="row image-row postslider">
            {% for image in post.featured_images %} 
                <div>
                    <img
                        data-src="{{ image.filename }}"
                        src="{{ image.thumb(960,550,'crop') }}"
                        alt="{{ image.description }}" 
                        class="img-fluid" />
                </div>
            {% endfor %}
            </div>
        {% endif %}

        <div class="row blog">
            <div class="col-sm-12">
                <h1 class="mb-4 mt-4">{{ post.title }}</h1>
            </div>
            <div class="col-sm-12 blog-details">
                <p><small>Publisert {{ post.published_at|date('d.m.Y') }} av {{ post.user.fullName }}</small></p>
            </div>
            <div class="col-sm-12">
                <div class="post-content">
                    {{ post.content_html|raw }}
                </div>
            </div>
        </div>
    </div>
</div>
        