<div class="row event-details">
	<div class="col-sm-12 col-md-8">
		<img src="{{event.featured_image|media}}" class="img-fluid" style="border: 1px solid #999">
	</div>
	<div class="col-md-4 text-center event-details-pane">
		<div class="date">
			<h2>{{ event.date|date('d.m.Y')}}</h2>
			<h4 class="time">kl. {{ event.date|date('H:i')}}</h4>
		</div>
		
		{{ event.details_subinfo|raw }}

		{% if event.ticket_link %}
			<hr>
			<a href="{{ event.ticket_link }}" target="_blank" class="btn btn-primary">Kjøp billett</a>
		{% endif %}
	</div>
	<div class="col-sm-12">
		<h1>{{ event.title }} </h1>
	</div>
	<div class="col-sm-12 txt-lrg">		
		{{ event.long_description|raw }}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="/arrangementer" class="btn btn-primary">Tilbake til arrangementer</a>
	</div>
</div>