{% if upcomingevents.first %}
	<h1>Dette skjer på Eger &amp; Co.</h1>
	<p class="lead">Her er noen av de kommende arrangementene på Eger &amp; Co. <a href="/arrangementer">Hele listen finner du her.</a></p>
	<div class="row">
		<div class="slick-events">
	{% for event in upcomingevents %}
		<div class="col-xs-12 col-sm-4 featured-item">
			{% if event.slug %}
				<a href="/arrangement/{{event.slug}}">
			{% endif %}
			<img src="{{event.featured_image|media}}" class="img-responsive">
			<h4>{{ event.date|date('d.m.Y')}} kl. {{ event.date|date('H:i')}}</h4>
			<h3>{{ event.title }}</h3>
			{% if event.slug %}
				</a>
			{% endif %}
		</div>
	{% endfor %}
		</div>
	</div>
	{% put scripts %}
	<script src="{{ 'assets/javascript/slickevents.js'|theme }}"></script>
	{% endput %}
{% endif %}