{% if events %}
	<div class="row events">
		{% for event in events %}
		<div class="col-sm-12 event">
			{% if(event.image) %}
			<img src="{{event.image|media}}" class="img-fluid">
			{% endif %}
			<!-- <img src="{{ event.featured_image.thumb('750,400','crop') }}" class="img-responsive"> -->
			<div class="header">
				<h2 class="text-center">{{ event.title }}</h2>
			</div>
			<p class="date">
			{{ event.date|date('d.m.Y')}} kl. {{ event.date|date('H:i')}}</p>
			<p>{{ event.description|raw }}</p>
			{% if event.slug %}
			<p class="text-center">
				<a href="/hvaskjer/{{event.slug}}" class="btn btn-primary">Les mer</a>
			</p>
			{% endif %}
		</div>
		{% endfor %}
	</div>

{% else %}

	<div class="row events">
		<div class="col-sm-12 event text-centerw">
			<h2>For tiden ingen arrangementer</h2>
		</div>
	</div>

{% endif %}