<img src="{{event.image|media}}" class="img-fluid">
<div class="header text-center">
    <h2>{{ this.page.title }}</h2>
</div>
{{ event.long_description|raw }}


	<div class="card-header">
        <h4 class="my-0 font-weight-normal">Informasjon</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title ">
          {{ event.date|date('d.m.Y')}}
          <br>
          <small class="text-muted">
            kl. {{ event.date|date('H:i')}}
          </small>
        </h2>
        <p>
          {{ event.details_subinfo|raw }}
        </p>
        {% if event.ticket_link %}
          <a href="{{ event.ticket_link }}" target="_blank" class="btn btn-lg btn-block btn-outline-primary">Påmelding</a>
        {% endif %}
      </div>
    