{% if errorHappened %}
    {% partial __SELF__~'::flash-messages' %}
{% else %}
<div class="alert alert-confirm">
    <h2>Meldingen din er sendt!</h2>
    <p>
        {{confirmation_text}}
    </p>
</div>
{% endif %}