
<form class="contact-form mt-4 flexiContactForm" role="form" 
        data-request="{{ __SELF__ }}::onMailSent"
        data-request-update="'{{ __SELF__ }}::confirm': '.confirm-container'">
    <div class="row">
        <div class="col-md-5">
            <input type="text" class="form-control-custom mb-4" placeholder="Navn" name="name">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control-custom mb-4" placeholder="E-post adresse" name="email">
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control-custom mb-4" placeholder="Emne" name="subject">
        </div>
        <br />
    </div>
    <div class="row">
        <div class="col-md-10">
            <textarea class="form-control-custom mb-4" rows="3" name="body" placeholder="Din melding"></textarea><br />
            {% if __SELF__.enableCaptcha %}
                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="{{ __SELF__.siteKey }}"></div>
                </div>
            {% endif %}
            <button type="submit" class="btn btn-primary btn-lg mb-4">Send melding</button>
        </div> 
    </div>
</form>

<div class="confirm-container">
    <!--This will contain the confirmation when the email is successfully sent-->
</div>

