description = "Default layout"

[googleTracker]

[staticPage]
useContent = 1
default = 1

[staticMenu]
code = "mainMenu"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Livskilden Massasje &amp; Samtaleterapi - {{ this.page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="EgerStudio">
        <meta name="generator" content="OctoberCMS">
        <meta name="description" content="{{ this.page.meta_description }}">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/bootstrap/css/bootstrap.min.css'|theme }}">
        <link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
        <link rel="stylesheet" href="{{ ['assets/scss/style.scss']|theme }}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i|Tangerine" rel="stylesheet">
        {% styles %}
    </head>
    <body>
        

        <!-- Content -->
        <section id="layout-content">
            <section class="cover-3 text-center">
                {% partial 'site/navigation' %}    
            </section>

            <section class="content-4">
                <div class="container">
                    <div class="row justify-center mt-5">
                        <div class="col-md-12 text-left" >
                            {% component 'staticPage' %}
                        </div>
                    </div>
                </div>
            </section>
        </section>

        

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>
        {% component 'googleTracker' %}
        
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

        <!-- Scripts -->
        <script src="{{ 'assets/js/jquery-3.1.1.min.js'|theme }}"></script>
        <script src="{{ 'assets/bootstrap/js/bootstrap.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        {% framework %}
        {% framework extras %}
        {% scripts %}

    </body>
</html>