{% if events %}
{% for event in events %}
<div class="col-md-6">
	
		<!-- <div class="row padmebottom event-row"> -->
			
				<img src="{{event.featured_image|media}}" class="img-fluid">
			
			
				<h2>{{ event.title }}</h2>
				
				<p>{{ event.description|raw }}</p>
			
			
				<h4>{{ event.date|date('d.m.Y')}}</h4>
				<h4>kl. {{ event.date|date('H:i')}}	
				<hr>
				{% if event.slug %}
					<a href="/hvaskjer/{{event.slug}}" class="btn btn-primary">Les mer</a>
				{% endif %}
				{% if event.ticket_link %}
					<a href="{{ event.ticket_link }}" target="_blank" class="btn btn-primary">Kjøp billett</a>
				{% endif %}
			
		<!-- </div> -->
	
</div>
{% endfor %}
{% else %}
<div class="row padmebottom event-row">
	<div class="col-xs12 col-sm-12">
		<h3>Ingen arrangementer</h3>
		
		<p>Her vises en oversikt over våre arrangementer.</p>
	</div>
</div>
{% endif %}