{% for eventrow in events|batch(3) %}
<div class="row">
	{% for event in eventrow %}
	<div class="col-sm-12 col-md-4">
		<img src="{{event.featured_image|media}}" class="img-responsive">
		<!-- <img src="{{ event.featured_image.thumb('750,400','crop') }}" class="img-responsive"> -->
		<h3>{{ event.title }}</h3>
		<h4>{{ event.date|date('d.m.Y')}} kl. {{ event.date|date('H:i')}}</h4>
		<p>{{ event.description|raw }}</p>
	</div>
	{% endfor %}
</div>
{% endfor %}