{% if events %}
<ul class="blogPostList">
    {% for event in events %}
        <li>
        	{% if event.slug %}
            	<a href="{{ post.url}}">
            {% endif %}
            {% if(event.image) %}
				<img src="{{event.image|media}}" class="img-fluid">
			{% endif %}
            {% if event.slug %}
            	</a>
            {% endif %}
        	<div class="title">
        		<a href="/hvaskjer/{{event.slug}}">
        			<h3>{{ event.title }}</h3>
        		</a>
        		<p class="postDate">{{ event.date|date('d.m.Y')}} kl. {{ event.date|date('H:i')}}</p></p>
        		<hr>
        	</div>            
        </li>
    {% endfor %}
{% else %}
        <li class="no-data">{{ noPostsMessage }}</li>    
</ul>
{% endif %}
