{% set posts = __SELF__.posts %}

    {% for row in posts|batch(2,'') %}
        <div class="row">
            {% for post in row %}
                {% if post %}
                <div class="col-sm-12 col-md-6">
                    <div class="post">

                        <a href="{{ post.url}}">
                        
                        {% if post.custom_fields.featured_image %}
                            <img
                                src="{{ post.custom_fields.featured_image|media }}"
                                alt="{{ post.featured_images.first.description }}" 
                                class="img-fluid" />
                        {% endif %}
                        </a>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class=" {%if post.custom_fields.featured_image %} header {% endif %} text-center">
                                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                                </div>
                            </div>
                            <div class="col-sm-12 date">
                                {{ post.published_at|date('d.m.Y') }} av {{post.user.fullName }}
                            </div>
                            <div class="col-sm-12 blog-excerpt">
                                <p>{{ post.excerpt }}</p>
                                {% if post.categories.count %}
                                <p>
                                    {% for category in post.categories %}
                                        <span class="badge badge-brand">{{ category.name }}</span>
                                    {% endfor %}
                                    
                                </p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {{ noPostsMessage }}
    {% endfor %}

    <div class="row center">
        <div class="col-xs-12">

        {% if posts.lastPage > 1 %}
            <ul class="pagination">
                {% if posts.currentPage > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Forrige</a></li>
                {% endif %}

                {% for page in 1..posts.lastPage %}
                    <li class="page-item {{ posts.currentPage == page ? 'active' : null }}">
                        <a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if posts.lastPage > posts.currentPage %}
                    <li class="page-item"><a class="page-link" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Neste &rarr;</a></li>
                {% endif %}
            </ul>
        {% endif %}
        
        </div>
    </div>