<p><img src="/storage/app/media/dropinyoga-lite.jpg" class="img-fluid fr-fic fr-dii"></p>

<h2><small>DROP-IN</small> Yoga</h2>

<p>Kom på drop-in yoga!</p>

<ul>
	<li>Mandager kl. 19.00</li>
	<li>Tirsdager kl. 16.30</li>
	<li>Onsdager kl. 18.30</li>
</ul>

<p>Klippekort eller betal fra gang til gang!</p>

<p>
	<br>
</p>

<p><img src="/storage/app/media/frigjorende-dans.jpg" class="img-fluid fr-fic fr-dii"></p>

<h2><small>DROP-IN</small> Frigjørende dans</h2>

<ul>
	<li>Onsdager kl. 17.00</li>
</ul>

<p>Klippekort eller betal fra gang til gang!</p>

<p>
	<br>
</p>